.video {
    border: 1px solid black;
}

main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

video {
    width: 100%;
    height: 6rem;
}

.next-keep-one-buttons{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 0.5rem;
    margin-top: 1rem;
}

/* button {
    margin-right: 1rem;
    margin-top: 1rem;
    width: 10rem;
} */